@import '../utils/variables.scss';
@import '../utils/mixins.scss';


.listaneas{
   
        display: flex;
        flex-direction: column;
        align-items: center;  
         
}
.card{
    margin-bottom: 20px;
    transition: 0.3s;
    border-radius: 5px
}
.card:hover {
    box-shadow: 0 50px 50px 0 rgba(253, 245, 0, 0.2);
  }