@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.listado{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 align-content: center;

}
.card{
    margin-bottom: 10px;
    margin: 10px
}
.lista{
    display: flex;
    flex-direction: column;
}